.o-header
  position sticky
  top 0
  background $color-primary
  height 50px
  width 100%
  display flex
  align-items center
  padding 0 20px
  &--icon
    width 36px
    height 36px
    border-radius 50%
    background #c0c0c0
  &--serviceName
    color #fff
    margin-left 6px
    font-size 24px
  &--serviceDescription
    color #fff
    margin-left 12px
    font-size 13px