@import "./foundation/_reset"
@import "./foundation/_color"
@import "./foundation/_fonts"
@import "./foundation/_common"

@import "./components/organisms/_header"
@import "./components/pages/_registration"